.headerTable {
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}
.headerTable .wrapper {
  width: 100%;
  display: grid;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
}
.headerTable .ant-form-item {
  margin: 0 !important;
}
.headerTable .ant-picker {
  height: 4rem !important;
  border-radius: 2rem !important;
  padding: 1rem 2rem !important;
}
.headerTable .ant-picker input {
  text-align: center;
}
.headerTable .ant-select-selector {
  height: 4rem !important;
  border-radius: 2rem !important;
  padding: 0.3rem 2rem 0 2rem !important;
}
.headerTable .ant-select-selector input {
  padding: 0.5rem 1rem 0 1rem !important;
}