@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.space-container {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 13rem;
  grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));

  .ant-space {
    justify-content: center;
    gap: 13px !important;

    .ant-space-item:last-child {
      margin-top: 0.5rem;
    }
  }
}

.listProductImport {
  // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
  //   rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
  //   rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 0px 0px 2rem 2rem;

  .ant-table-container {
    transition: all 0.3s ease;
    background-color: $white-color;
  }

  &.tranform {
    .ant-table-container {
      transform: translateY(0);
    }
  }
  .ant-table-title {
    padding: 0 !important;
  }
  .ant-table-row {
    // .ant-form-item{
    //   min-width: 200px;
    // }
  }
  .ant-select-selector {
    color: $black-color !important;
    border: 1px solid rgb(211, 211, 211) !important;
    border-radius: 2rem !important;
  }
}

.ant-table-title {
  background-color: #fafafa;
  display: flex;
  justify-content: flex-end;

  .ant-select {
    margin: 1rem 2rem !important;
  }
}
