.table-shipment-types .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.table-shipment-types .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.table-shipment-types .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.table-shipment-types .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.table-shipment-types .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}
.table-shipment-types td.ant-table-cell {
  border: unset !important;
}
.table-shipment-types .table-row-even {
  background: #fff;
}
.table-shipment-types .table-row-odd {
  background: #f9fafe;
}
.table-shipment-types .warehouse-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  padding: 0.5rem 3rem;
}
.table-shipment-types .warehouse-list .ant-input,
.table-shipment-types .warehouse-list .ant-select-selector,
.table-shipment-types .warehouse-list .ant-picker {
  border-radius: 2rem !important;
  width: 100% !important;
  color: black;
}
.table-shipment-types .warehouse-list .wapper {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}