.table-details-supplier-debt .ant-table-container {
  transition: all 0.3s ease;
}
.table-details-supplier-debt .ant-table-title {
  padding: 0 !important;
}
.table-details-supplier-debt .ant-select-selector {
  border: 1px solid rgb(211, 211, 211) !important;
  border-radius: 2rem !important;
}
.table-details-supplier-debt .ant-table-title {
  background-color: #fafafa;
  display: flex;
  justify-content: flex-end;
}
.table-details-supplier-debt .ant-table-title .ant-select {
  margin: 1rem 2rem !important;
}