.headerTable {
  text-align: center;
  padding: 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 2rem;

  .ant-picker {
    height: 4rem !important;
    border-radius: 2rem !important;
    padding: 1rem 2rem !important;

    input {
      text-align: center;
    }
  }
  .ant-select-selector {
    height: 4rem !important;
    border-radius: 2rem !important;
    padding: 0.3rem 2rem 0 2rem !important;

    input {
      padding: 0.5rem 1rem 0 1rem !important;
    }
  }

  .wrapper {
    width: 100%;
    display: grid;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    
  }
  .wrapper.dashboard {
    padding: 1rem 5rem;
  }
}
