.employee .title {
  margin-bottom: 2rem;
}
.employee .details {
  display: flex;
  justify-content: center;
}
.employee .details .details__left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  border: unset !important;
}
.employee .details .details__left .details__avatar {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.employee .details .details__left .details__avatar .details__avatar-img {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.employee .details .details__left .details__avatar .item_choose-avt {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.employee .details .details__left .details__fullname {
  margin-top: 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
}
.employee .details .details__left .details__username {
  font-weight: bold;
  color: darkorange;
  margin-top: 1rem;
}
.employee .details .details__left .details__status {
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem 3rem;
  font-weight: 500;
  margin: 0;
  margin-top: 2rem;
  border: 1.8px solid;
  border-radius: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.8rem;
}
.employee .details .details__left .details__location {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.employee .details .details__left .ant-upload.ant-upload-select {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 50%;
  background-color: #52c41a;
  margin-top: 2rem;
}
.employee .details .details__left .ant-upload.ant-upload-select .ant-upload {
  color: white;
}
.employee .details .details__right {
  width: 70%;
  padding-right: 7rem;
}
.employee .details .details__right .list-data {
  width: 100%;
}
.employee .details .details__right .list-data .ant-steps-item-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.employee .details .details__right .list-data .ant-steps-item-description {
  margin-left: 2rem;
  margin-top: 1rem;
}
.employee .details .details__right .list-data .group-data {
  display: grid;
  grid-column-gap: 3rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 280px));
}
.employee .details .details__right .list-data .group-data .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.employee .details .details__right .list-data .group-data .ant-row {
  display: block;
}
.employee .details .details__right .list-data .group-data .ant-input {
  border-radius: 2rem !important;
  padding: 1rem 2rem;
  margin-top: 0.7rem;
}
.employee .details .details__right .list-data .group-data textarea.ant-input {
  margin: 0;
}
.employee .details .details__right .list-data .group-data .ant-select.ant-select-in-form-item {
  width: 100% !important;
}
.employee .details .details__right .list-data .group-data .ant-input,
.employee .details .details__right .list-data .group-data .ant-select-selector,
.employee .details .details__right .list-data .group-data .ant-picker {
  border-radius: 2rem !important;
  width: 100% !important;
}
.employee .details .details__right .list-data .group-data .ant-select-selector {
  height: 4.2rem;
  padding: 0.35rem 2rem;
}
.employee .details .details__right .list-data .group-data .ant-select-selector .ant-select-selection-search {
  padding: 0.5rem 0.9rem;
}
.employee .details .details__right .list-data .group-data .ant-select-selector .ant-select-selection-item {
  padding: 0.1rem 0;
}
.employee-btn-groups {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.employee .actions-group {
  display: flex;
  gap: 2rem;
  padding: 1.7rem 2.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #fafafa;
  margin-bottom: 2rem;
}
.employee .actions-group .details__item {
  margin-bottom: 0;
}
.employee .ant-steps-item-title {
  width: 100%;
}