.product {
  .actions-group {
    display: flex;
    gap: 2rem;
    padding: 1.7rem 2.5rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #fafafa;
    margin-top: 2rem;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .details__item {
      margin-bottom: 0;
    }
  }
  
  .ant-select-dropdown {
    width: max-content !important;
  
    .searchProduct {
      width: 100%;
  
      .ant-select-item-option-content {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
        width: 100%;
  
        .search-img {
          width: 5rem;
          min-width: 5rem;
          height: 5rem;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }
  
  .ant-table-wrapper {
    button.ant-pagination-item-link {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 2rem !important;
    }
  
    .ant-pagination-item {
      height: 4.5rem;
      width: 5.5rem;
      border-radius: 2rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-pagination-item a {
      height: 4.5rem;
      width: 5.5rem;
      border-radius: 2rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .ant-table-row {
    .ant-table-cell {
      .ant-form-item {
        margin-bottom: 0 !important;
      }
  
      .caculator {
        .ant-input-group-addon {
          background-color: none !important;
          border: 1px solid none !important;
        }
        .ant-input-disabled {
          color: black !important;
        }
      }
    }
  }
  
  .ant-select-selector {
    height: 4.5rem !important;
    border-radius: 2rem !important;
  
    .ant-select-selection-search,
    .ant-select-selection-item,
    .ant-select-selection-placeholder {
      display: flex;
      // justify-content: center;
      padding: 0 1.5rem !important;
      align-items: center;
    }
  }
  
  .ant-input-number {
    border-radius: 2rem !important;
    padding: 0.5rem 0.7rem;
  
    .ant-input-number-handler-wrap {
      right: 9px;
      border-radius: 2rem;
    }
  }
  .ant-input {
    border-radius: 2rem !important;
    padding: 1rem 2rem;
  }
  
  .ant-tabs {
    .ant-tabs-nav {
      background-color: #fafafa;
      margin: 0;
  
      .ant-tabs-nav-list {
        width: 100%;
        border-top: 0.5px solid #efefef;
            width: 100% !important;
        // border-top: 0.5px solid #efefef !important;
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
  
        .ant-tabs-tab {
          // width: 50%;
          display: flex;
          justify-content: center;
        }
      }
      .ant-tabs-nav-operations {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }
}

