.categoryModal {
  .btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  .details__group {
    width: 100%;

    .details__item {
      width: 100%;

      .ant-col {
        max-width: 100% !important;
        flex: none !important;
      }

      .ant-row {
        display: block;
      }

      .ant-input {
        border-radius: 2rem !important;
        padding: 1rem 2rem;
        margin-top: 0.7rem;
      }

      .ant-select.ant-select-in-form-item {
        width: 100% !important;
      }
      .ant-input,
      .ant-select-selector,
      .ant-picker {
        border-radius: 2rem !important;
        width: 100% !important;
      }
      .ant-select-selector {
        height: 4.2rem;

        .ant-select-selection-item {
          padding: 0.5rem 0.7rem;
        }
      }
    }
  }
}
