.details {
  display: flex;
}
.details .details__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 3rem;
  border-right: 0.5px rgb(201, 201, 201) solid;
  padding-top: 10rem;
}
.details .details__left .details__avatar {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.details .details__left .details__avatar .details__avatar-img {
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .details__left .details__avatar .item_choose-avt {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.details .details__left .details__fullname {
  margin-top: 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
}
.details .details__left .details__status {
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem 3rem;
  font-weight: 500;
  margin: 0;
  margin-top: 2rem;
  border: 1.8px solid;
  border-radius: 2rem;
}
.details .details__left .details__location {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.details .details__left .ant-upload.ant-upload-select-picture-card {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 50%;
  background-color: #52c41a;
  margin-top: 2rem;
}
.details .details__left .ant-upload.ant-upload-select-picture-card .ant-upload {
  color: white;
}
.details .details__right {
  width: 60%;
  padding-left: 3rem;
}
.details .details__right .ant-divider-horizontal {
  margin: 2rem 0 !important;
}
.details .details__right .details__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .details__right .details__group .item-sm {
  margin: 0;
}
.details .details__right .details__group .details__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.details .details__right .details__group .details__item {
  width: 45%;
}
.details .details__right .details__group .details__item .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.details .details__right .details__group .details__item .ant-row {
  display: block;
}
.details .details__right .details__group .details__item .ant-input {
  border-radius: 2rem !important;
  padding: 1rem 2rem;
  margin-top: 0.7rem;
}
.details .details__right .details__group .details__item .ant-select-selector, .details .details__right .details__group .details__item .ant-picker.ant-picker-disabled {
  border-radius: 2rem !important;
}