.headerHidden {
  background-color: #fafafa;
  padding: 3rem 6rem 1rem 6rem;
  display: grid;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
}
.headerHidden .ant-select-selection-item,
.headerHidden .ant-input-disabled,
.headerHidden .ant-picker-disabled .ant-picker-input input {
  color: black;
}
.headerHidden .details__item .ant-picker {
  border-radius: 2rem !important;
  width: 100% !important;
}
.headerHidden .details__item .ant-picker .ant-picker-input {
  min-height: 32px;
  padding-left: 1rem;
  padding-right: 1rem;
}