$text-white: #fff;
$bg-white: #fff;
$bg-gray: #c4c4c4;
$bg-gray-light: #eee;
$primary-color: #cc0000;
$bg-gray-medium: #f4f4f4;
$color-title-table: #757575;
$color-row-table: #151617;
$color-gray-label: #666666;
$text-black-common: #000000;

$white-color: #fff;
$black-color: #000;
$text-color: #333;
$bg-color: #F0F2F5;
