.daily-report .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.daily-report .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
.daily-report .details__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.daily-report .details__group .details__item {
  width: 50%;
}
.daily-report .ant-picker {
  height: 4rem !important;
  border-radius: 2rem !important;
  padding: 1rem 2rem !important;
}
.daily-report .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.daily-report .ant-row {
  display: block;
}
.daily-report .ant-input {
  border-radius: 2rem !important;
  padding: 1rem 2rem;
  margin-top: 0.7rem;
}
.daily-report .login_input {
  border-radius: 5rem;
  padding: 0 1.5rem 0 0;
}
.daily-report .login_input .ant-input {
  margin: 0;
}
.daily-report .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}
.daily-report .ant-table-container .ant-table-content table .ant-table-thead tr th:first-child {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.daily-report .ant-table-container .ant-table-content table .ant-table-thead tr th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}