.daily-report .top,
.daily-report .left,
.daily-report .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem 2rem !important;
  margin: 0 !important;
}
.daily-report .top .right .ant-form-item {
  margin: 0;
}
.daily-report .top.bg {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 2rem 0 !important;
  border-radius: 2rem;
}
.daily-report .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
.daily-report .details__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.daily-report .details__group .details__item {
  width: 50%;
}
.daily-report .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.daily-report .ant-row {
  display: block;
}
.daily-report .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}
.daily-report .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.daily-report .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}
.daily-report td.ant-table-cell {
  border: unset !important;
  cursor: pointer;
}
.daily-report .table-row-even {
  background: #fff;
}
.daily-report .table-row-odd {
  background: #f9fafe;
}