.shipmentAndTypeModal .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.shipmentAndTypeModal .details__group {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}
.shipmentAndTypeModal .details__group.align-start {
  align-items: flex-start;
}
.shipmentAndTypeModal .details__group .details__item {
  min-width: 200px;
}
.shipmentAndTypeModal .details__group .details__item.w-full {
  width: 100%;
}
.shipmentAndTypeModal .details__group .details__item .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.shipmentAndTypeModal .details__group .details__item .ant-row {
  display: block;
}
.shipmentAndTypeModal .details__group .details__item .ant-input {
  border-radius: 2rem !important;
  padding: 1rem 2rem;
  margin-top: 0.7rem;
}
.shipmentAndTypeModal .details__group .details__item textarea.ant-input {
  margin: 0;
}
.shipmentAndTypeModal .details__group .details__item .ant-select.ant-select-in-form-item {
  width: 100% !important;
}
.shipmentAndTypeModal .details__group .details__item .ant-input,
.shipmentAndTypeModal .details__group .details__item .ant-select-selector,
.shipmentAndTypeModal .details__group .details__item .ant-picker {
  border-radius: 2rem !important;
  width: 100% !important;
  color: black;
}
.shipmentAndTypeModal .details__group .details__item .ant-select-selector {
  height: 4.2rem;
  padding: 0.35rem 2rem;
}
.shipmentAndTypeModal .details__group .details__item .ant-select-selector .ant-select-selection-search {
  padding: 0.3rem 0.9rem;
}
.shipmentAndTypeModal .details__group .details__item .ant-select-selector .ant-select-selection-item {
  padding: 0.1rem 0;
}