.total {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  width: 100%;
  align-self: stretch;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.total .top {
  margin-bottom: 2rem;
  padding-left: 3rem;
}
.total .cards {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
}
.total .cards .ant-card {
  border-radius: 2rem;
}
.total .cards .ant-card-meta-title {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.5rem;
}
.total .cards .ant-card-meta-description {
  color: black;
  font-size: 2rem;
  font-weight: 500;
}
.total .cards .ant-card-body {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
}