.dashboardByYear .top,
.dashboardByYear .left,
.dashboardByYear .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem 2rem !important;
  margin: 0 !important;
}
.dashboardByYear .top .right .ant-form-item {
  margin: 0;
}
.dashboardByYear .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.dashboardByYear .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.dashboardByYear .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.dashboardByYear .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: unset;
}
.dashboardByYear td.ant-table-cell {
  border: unset !important;
  cursor: pointer;
}
.dashboardByYear .table-row-even {
  background: #fff;
}
.dashboardByYear .table-row-odd {
  background: #f9fafe;
}