.login {
     padding: 5rem 8rem;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     .form {
          width: 30%;

          &_item {
						.login_input{
							border-radius: 2rem;
							padding: 1rem;
						}
          }

          &_item.flex {
               display: flex;
               justify-content: space-between;
          }
     }
}