.login-form {
  max-width: 300px !important;
}
.login-form-forgot {
  float: left !important;
}
.ant-col-rtl .login-form-forgot {
  float: left !important;
}
.login-form-button {
  width: 100% !important;
}