.login {
  padding: 5rem 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .form {
  width: 45rem;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 2.5rem;
}
.login .form .top {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  width: 100%;
}
.login .form .top img {
  width: 15rem;
  margin-bottom: 6rem;
}
.login .form_item .login_input {
  border-radius: 5rem;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
}
.login .form_item .forgot {
  margin-left: auto;
}
.login .form_item .btn_signUp {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 3rem;
  height: 4.5rem;
  width: 100%;
}
.login .form_item .ant-form-item-explain-error {
  padding: 0.3rem 1rem 1.5rem 2rem;
}
.login .form_item .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}