.product .title {
  margin-bottom: 2rem;
}
.product-details {
  width: 100%;
}
.product-details .details {
  display: flex;
  gap: 3rem;
}
.product-details .details .list-images {
  width: 250px;
  padding: 1rem 1rem 0 1rem;
}
.product-details .details .list-images .image-product {
  position: relative;
  margin-bottom: 1rem;
}
.product-details .details .list-images .image-product .ant-image {
  width: 230px;
  height: 230px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 2rem;
}
.product-details .details .list-images .image-product .ant-image .ant-image-mask {
  border-radius: 2rem;
}
.product-details .details .list-images .image-product .anticon.anticon-minus-circle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-details .details .list-images .ant-form-item .ant-upload.ant-upload-select.ant-upload-select-picture-card {
  width: 230px;
  height: 230px;
  border-radius: 2rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin: 0;
}
.product-details .details .list-data {
  width: 100%;
}
.product-details .details .list-data .ant-steps-item-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.product-details .details .list-data .group-data {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.product-details .details .list-data .group-data .ant-col {
  max-width: 100% !important;
  flex: none !important;
}
.product-details .details .list-data .group-data .ant-row {
  display: block;
}
.product-details .details .list-data .group-data .ant-select.ant-select-in-form-item {
  width: 100% !important;
}
.product-details .details .list-data .group-data .ant-input,
.product-details .details .list-data .group-data .ant-select-selector,
.product-details .details .list-data .group-data .ant-picker {
  border-radius: 2rem !important;
  width: 100% !important;
}
.product-details .details .list-data .group-data .ant-select-selector {
  height: 4.2rem;
}
.product-details .details .list-data .group-data .ant-select-selector .ant-select-selection-item {
  padding: 0.5rem 0.7rem;
}
.product-details .details .list-data .group-data .ant-input-number {
  width: 100%;
  border-radius: 2rem;
  padding: 0.5rem 0.7rem;
}
.product-details .details .list-data .group-data .ant-input-number .ant-input-number-handler-wrap {
  right: 9px;
  border-radius: 2rem;
}
.product-details .details .list-data .group-data .ant-input {
  border-radius: 2rem !important;
  padding: 1rem 2rem;
}
.product-descriptions {
  width: 100%;
}
.product-descriptions .minus-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-descriptions .ant-space-item:not:first-child {
  width: 100%;
}
.product-btn-groups {
  display: flex;
  align-items: center;
  gap: 3rem;
}