.profit {
  .top-wrapper,
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    .ant-form-item {
      margin: 0 !important;
    }
  }

  .ant-tabs {
    .ant-tabs-nav {
      background-color: #fafafa;
      margin: 0;
      border-radius: 2rem 2rem 0 0;

      .ant-tabs-nav-list {
        width: 100%;
        border-top: 0.5px solid #efefef;
        width: 100% !important;
        //   border-top: 0.5px solid #efefef !important;
        display: grid !important;
        grid-template-columns: repeat(auto-fit, calc(100% / 5)) !important;
        border-radius: 2rem;

        .ant-tabs-tab {
          // width: 50%;
          display: flex;
          justify-content: center;
        }
      }
      .ant-tabs-nav-operations {
        display: none !important;
        visibility: hidden !important;
      }
    }
    .ant-table-title {
      padding: 0 !important;
      justify-content: center !important;
    }
  }
}
