.profit .top-wrapper,
.profit .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profit .right .ant-form-item {
  margin: 0 !important;
}
.profit .ant-tabs .ant-tabs-nav {
  background-color: #fafafa;
  margin: 0;
  border-radius: 2rem 2rem 0 0;
}
.profit .ant-tabs .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
  border-top: 0.5px solid #efefef;
  width: 100% !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, 20%) !important;
  border-radius: 2rem;
}
.profit .ant-tabs .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab {
  display: flex;
  justify-content: center;
}
.profit .ant-tabs .ant-tabs-nav .ant-tabs-nav-operations {
  display: none !important;
  visibility: hidden !important;
}
.profit .ant-tabs .ant-table-title {
  padding: 0 !important;
  justify-content: center !important;
}